.subheader_name {
    background-color: #adb5bd;
}

.promo_about {
    background-color: #F0F8FF;
}
.user_links {
    background-color: #2F4F4F;
    padding-top: 50px;
    padding-bottom: 50px;
    color:white;
}

h1 {
    font-size: 56px;
    margin-top: 50px;
}
h3 {
    font-size: 28px;
    text-transform: uppercase;
}
p {
    font-size: 20px;
}
.foto {
    margin-top: 28px;
}
.about_me {
    margin-top: 50px;
}
.agreement {
    margin-bottom: 50px;
    font-style: italic;
}
.about_agreement {
    margin-top: 50px;
}

